<app-example-viewer [title]="'You can provide template for toggle button'"
                    [ghExampleLink]="ghExampleLink"
>
    <ngx-expanding-text [text]="lorem200"
                        [lessButtonTemplate]="customToggleButton"
                        [moreButtonTemplate]="customToggleButton"
    ></ngx-expanding-text>
</app-example-viewer>

<ng-template #customToggleButton let-toggleFn="toggleFn" let-isExpanded="isExpanded">
    <button type="button"
            class="custom-button"
            (click)="toggleFn()"
    >
        {{isExpanded ? 'Show less' : 'Show more'}}
    </button>
</ng-template>
